@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #6c9bcf;
  --color-dangeer: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: snow;
  background-color: darkolivegreen;
}
